@keyframes mymove {
    0%   { left: 0px; top: 0px;}
    50%  { left: 240%; top: 0%;}
    100% { left: 0px; top: 0px;}
}

.letreiro {
    animation: mymove 5s infinite;
    position: relative;
    animation-timing-function: linear;
}

.cartaz img:hover {
    transform: scale(2.1);
    transition-duration: 2s;

    } 

    