@keyframes mymove {
    from{left: -1700px;}
    to{left: 1700px;}
}

.letreiro {
    animation: mymove 10s infinite;
    position: relative;
    animation-timing-function: linear;
}

img:hover {
    width: 20%;
    height: 10%;
}