/* Paleta de cores */
$cor-fundo : #000000;
$cor-texto : #FFFFFF;
$cor-footer : #111111;
$cor-fundo-imagem: #1C1616;
/* --------------- */

/* mixins de transição */
@mixin transition($tran){
    -webkit-transition: $tran;
    -moz-transition: $tran;	
}
@mixin transform($scale){
   -moz-transform: $scale;
    -webkit-transform: $scale;
}
@mixin transitionImg($configs){
    -webkit-transition: $configs;
    -ms-transition: $configs;
    transition: $configs;
}
/* ------------------- */

/* Responsividade */
@for $i from 1 to 13{
	.col_#{$i}{
	   	padding-bottom: 99999px;
		margin-bottom: -99999px;
		width: ((100 / 12) * $i) - 2;
	}
}
/* -------------- */


body{
	background-color: $cor-fundo;
	color: $cor-texto;
	margin: 0% 5% 5% 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

header{
	padding-top:0.5%;
	padding-bottom:0.5%;
	text-align: center;
	background-color:#111111;
}
header h1{
	font-size:2.8em;
}
header p{
	font-size:1.6em;
}
footer{
	margin-top:5%;
}
footer p{
	font-size:1.6em;
	padding-top:0.5%;
	padding-bottom:0.5%;
	text-align: center;
	background-color: $cor-footer;
}

.boxFilme{
	float: left;
	text-align: center;
	margin:0.5%;
	height:80%;
	transition:2s;
	@include transition(2s);
}
.boxFilme img{
	width: 95%;
}
.boxFilme:hover{
	@include transform(scale(1.2));
    transform: scale(1.2);
}
.imagem{
	border-radius: 10px;
	background-color: #000;
	padding: 4%;
	display: block;
	margin: 0 auto;
}

.imagem:hover{
	background-color: $cor-fundo-imagem;
	@include transitionImg(background-color 800ms linear);
}
.imagem:hover + .legenda{
	background-color: $cor-fundo-imagem;
	@include transitionImg(background-color 800ms linear);
}
.legenda{
	background-color:#000;
	border-radius: 10px;
	
}
.legenda p{
	font-size:1.3em;
}
.legenda p + p{
	font-size:1.15em;
}


@keyframes movimento{
  0%{
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#filmes{
  animation-name: movimento;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 3s;
}

@media screen and (max-width: 647px){
	.col4{
		width: 99%;
	}
}
@media screen and (min-width: 648px) and (max-width: 1023px){
	.col4{
		width: 47%;
	}
}
@media screen and (min-width: 1024px){
	.col4{
		width: 32%;
	}
}