body
{
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgb(86, 0, 184), rgb(25, 0, 58));
}

body .title{
    justify-content: center;
    display: flex;
}

.background{
    width: max-content;
    background-color: rgb(48, 0, 110);
    padding:10px;
}

.title{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 1px;
    width: 100vw;

}

.container div
{
    text-align: center;
    color: white;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding:0px 20px 20px;
    border: 0px solid green;
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas: 
    "sidenav item item"
    "sidenav item item"
    "sidenav item item"
    "footer footer footer";
}

.item img
{

    margin-top: 20px;
    max-width: 75%;
    max-height: 75%;
    height: 280px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.item img:hover{
    border-left: 5px solid rgb(40, 0, 80);
    border-bottom: 5px solid rgb(40, 0, 80);
}


/*
.sidenav
{
    width: 300px;
    height: 700px;
    background-color: aquamarine;
    border-radius: 20px;
    grid-area: "sidenav";
    grid-row: sidenav;
}
*/
.item
{
    margin: 0;
    max-width: 300px;
    min-width: 200px;
    height: 380px;
    border-radius: 20px;
    grid-area: "item";
}



footer{

    margin-bottom: 40px;
    font-size: 20px;
}

/*
.footer
{
    width: auto;
    height: 300px;
    background-color: aquamarine;
    border-radius: 20px;
    grid-area: "footer";
    grid-column: footer;
}
*/
@media (max-width: 700px)
{
    .container
    {
        grid-template-areas: 
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "footer footer";
    }
}

@media (max-width: 500px)
{
    .container
    {
        grid-template-areas: 
        "sidenav" 
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
        "footer";
    }
}
