.canvas{
    width: 100%;
    margin:auto;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 9%;
    color:black;
    background-color: black;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .com9, .col_10, .col_11, .col_12{
    float: left;
    padding: 1%;
}
.col_1{
    width: 6.25%; 
}
.col_2{
    width: 14.5%;
}
.col_3{
    width: 22.75%;
}
.col_4{
    width: 31%;     
}
.col_5{
    width: 39.25%;
}
.col_6{
    width: 47.5%;
}
.col_7{
    width: 55.75%;
}
.col_8{
    width: 56%;
}
.col_9{
    width: 64%;
}
.col_10{
    width: 72.25%;
}
.col_11{
    width: 80.5%;
}
.col_12{
    width: 88.75%;
}

.quadros{
    border-color: black;
    border-style:solid;
    border: 2%;
    border-radius: 25px; 
    margin: 1%;
}

.cartaz{
    height: 300px;
    padding: 15%;
}

.texto{
    text-align: center;
}
.titulo, .subtitulo, .rodape{
    float: none;
    color:darkorange;
}

.titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size:500%;
}
#reservoir_dogs{
    background-color: floralwhite;
}
#pulp_fiction{
    background-color:rgb(220, 16, 16);
}
#kill_bill{
    
    background-color: orange;
}
#inglourious_basterds{
    background-color: gray;
}
#django_unchainded{
    background-color: floralwhite;
}
#the_hateful_eight{
    background-color: silver;
}
#cartaz1{
    background-color:rgb(209, 23, 23);
    
}
#cartaz2{
    background-color:rgb(243, 208, 12);
}
#cartaz3{
    background-color: black;
}
#cartaz4{
    background-color: rgba(47, 72, 4, 0.489);
}
#cartaz5{
    background-color: silver;
}
#cartaz6{
    background-color:aliceblue;
}

.texto_cartaz1{
    background-color:rgb(209, 23, 23);
}
.texto_cartaz2{
    background-color:rgb(243, 208, 12);;
}
.texto_cartaz3{
    background-color:rgb(243, 208, 12);
}
.texto_cartaz4{
    background-color: rgba(47, 72, 4, 0.489);
}
.texto_cartaz5{
    background-color: rgba(236, 4, 4, 0.836);
}
.texto_cartaz6{
    background-color: aliceblue;
}
#reservoir_dogs, #inglourious_basterds  {
    position: relative;
    animation: mymove1 1.5s;
    animation-fill-mode: forwards;
}
#pulp_fiction, #django_unchainded  {
    position: relative;
    animation: mymove2 1.5s;
    animation-fill-mode: forwards;
}
#kill_bill, #the_hateful_eight  {
    position: relative;
    animation: mymove3 1.5s;
    animation-fill-mode: forwards;
}  
@keyframes mymove1 {
    from {left: -30px;}
    to {left: 0px;}
}
@keyframes mymove2 {
    from {bottom: -20px;}
    to {bottom: 0px;}
}
@keyframes mymove3 {
    from {right: -30px;}
    to {right: 0px;}
}