*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-align:center; 
    background-color: black;
    color: white;
}

.container{
    width: 92%;
    margin: auto;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    float: left;
    padding: 1%;
}
.col_1{ width: 6%; }
.col_2{ width: 14%; }
.col_3{ width: 22%; }
.col_4{ width: 30%; }
.col_5{ width: 38%; }
.col_6{ width: 46%; }
.col_7{ width: 54%; }
.col_8{ width: 62%; }
.col_9{ width: 70%; }
.col_10{ width: 78%; }
.col_11{ width: 86%; }
.col_12{ width: 94%; }

.figuras {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border-style: groove;
    border-color: white;
    padding: 0%;
}

#titulo {
    background: initial; /* 'initial' serve para que volte as propriedades naturias/iniciais. */
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 7rem;
    margin: 0%;
    color: white;
}

#subtitulo{
    background: initial;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0px;
    color: white;
}

/* Essa classe serve para fazer o efeito parallax */
.cabecalho{
    background-image: url(../E03-Galeria-de-Imagens/img/fundo-01.jpg);
    background-position: center top; /* 'center top' para que ela fique no centro e comece do topo do site. */
    background-repeat: no-repeat; /* para que a imagem não fique se repetindo pelo site inteiro. */
    background-size: cover; /* 'cover' serve para que a imagem cubra de leste a oeste sem sobrar espaço em branco. */
    background-attachment: fixed; /* 'fixed' para que a imagem não mexa quando você descer, se fosse por exemplo, 
    'scroll' a imagem ficaria parada e se mexesse pra cima ela tbm.  */
    color: white; /* para deixar as letras dessa parte brancas. */
    padding-top: 300px;
    padding-bottom: 300px;
}


/*.linha-filmes{
    padding-top: 50px;
    padding-bottom: 700px;
    padding-left: 45px;
}
#PulpFiction-escrita{
    margin-top: 28px;
    margin-bottom: 30px;
}
#caesDeAluguel-escrita{
    margin-bottom: 25px;
    margin-top: 27px;
}*/

/* Parte dos links */

/*link não visistado*/
a:link{ /* essa parte funciona só para links internos, que será que errei? */
    color: green;
    text-decoration: none;
}
/*link visitado*/
a:visited{ 
    color: blue;
    text-decoration: none;
}
/* quando o mouse passa por cima */
a:hover{
    color: pink;
    text-decoration: none;
}
/* link ativado/selecionado */
a:active{ 
    color: yellow;
    text-decoration: none;
}
/* text-decoration: none   -->  retira a linha embaixo dos links */


/* Parte do layout responsivo */
@media (min-width: 1024px){
    body{
        font-size: 1.125em;
    }
    .ano-filme{
        font-size: 1.15em;
    }
    .nome-filme{
        font-size: 1.3em;
    }
    #titulo{
        font-size: 2.8em;
    }
    #subtitulo{
        font-size: 1.6em;
    }
    .linha-filmes{
        padding-top: 2em;
        padding-bottom: 40em;
    }
}

@media (max-width: 648px){
    .col_4{
        width: 95%;
    }
    body{
        font-size: 1.125em;
    }
    .ano-filme{
        font-size: 1.15em;
    }
    .nome-filme{
        font-size: 1.3em;
    }
    #titulo{
        font-size: 2.8em;
    }
    #subtitulo{
        font-size: 1.6em;
    }
    .linha-filmes{
        padding-top: 2em;
        padding-bottom: 40em;
    }
}
@media (max-width: 1024px) and (min-width: 648px){
    .col_4{
        width: 40%;
    }
    body{
        font-size: 1.125em;
    }
    .ano-filme{
        font-size: 1.15em;
    }
    .nome-filme{
        font-size: 1.3em;
    }
    #titulo{
        font-size: 2.8em;
    }
    #subtitulo{
        font-size: 1.6em;
    }
    .linha-filmes{
        padding-top: 2em;
        padding-bottom: 35em;
    }
}