.container {
  overflow: hidden;
  padding: 1%;
  text-justify: auto;
  color: #0045FF;
}

.col_1, .col_2, .col_3, .col_4, .col_5,.col_6,.col_7,.col_8,.col_9,.col_10,.col_11,.col_12 {
  float: left;
  margin: auto;
  padding: 1%;
}

.col_1 {
  width: 6.3%;
}

.col_2 {
  width: 16.6%;
}

.col_3 {
  width: 24.9%;
}

.col_4 {
  width: 31.2%;
}

.col_5 {
  width: 41.5%;
}

.col_6 {
  width: 49.8%;
}

.col_7 {
  width: 58.1%;
}

.col_8 {
  width: 66.4%;
}

.col_9 {
  width: 74.7%;
}

.col_10 {
  width: 83%;
}

.col_11 {
  width: 91.3%;
}

.col_12 {
  width: 97.6%;
}

#titulo{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    background-color: #0045FF;
}

#sub{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    margin-bottom: 50px;
}

img{
    max-width: 100%;
    border-radius: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    transition: all 0.5s ease-in-out;
    margin: 0 auto;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
    -webkit-transform : rotate(360deg) scale(1.2); 
    -ms-transform: rotate(360deg) scale(1.2); 
    transform: rotate(360deg) scale(1.2); 
    position: relative;
}

footer{
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

.conjunto{
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Lobster Two', cursive;
}

p{
    text-align: center;
}

@keyframes movimento{
  0%{
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

img, .mov{
  animation-name: movimento;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 3s;
}