.col1, .col2, .col3, .col4, .col6, .col8, .col9, .col10, .col12 {

    float: left;
    padding: 0.5%;
}

body{

    background: rgb(37, 36, 54);
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
}


@media screen and (max-width: 540px) {
    
    body {

        font-size: 107%;
    }
    .filme {

        height: 400px;
        width: 65%;
    }
    .conteudo {

        margin-left: 25%;
        margin-right: 0%;
    }
    .fitadir{
        width: 9%;
    }
    .fitaesq{
        width: 9%;
    }
    
}

@media screen and (min-width: 540px) and (max-width: 648px) {
    
    body {

        font-size: 107%;
    }
    .filme {

        height: 450px;
        width: 65%;
    }
    .conteudo {

        margin-left: 25%;
        margin-right: 0%;
    }
    .fitadir{
        width: 9%;
    }
    .fitaesq{
        width: 9%;
    }
    
}

@media screen and (min-width: 648px) and (max-width: 1024px) {
    body {

        font-size: 105%;
    }    
    .filme {

        height: 425px;
        width: 35%;
    }
    .conteudo {

        margin-left: 15%;
        margin-right: 0%;
    }
    .fitadir{
        width: 6%;
    }
    .fitaesq{
        width: 6%;
    }
    
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    body {

        font-size: 100%;
    }

    .filme {

        width: 24%;
        height: 410px;
    }
    .conteudo {

        margin-left: 12%;
        margin-right: 5%;
    }
    .fitadir{
        width: 6%;
    }
    .fitaesq{
        width: 6%;
    }
    
}

@media screen and (min-width: 1400px) {
    body {

        font-size: 100%;
    }

    .filme {

        width: 24%;
        height: 450px;
    }
    .conteudo {

        margin-left: 12%;
        margin-right: 5%;
    }
    .fitadir{
        width: 6%;
    }
    .fitaesq{
        width: 6%;
    }
    
}

.filme {

    float: left;
}


.fitaesq {

    background: rgb(134, 44, 44);
    background-image: url(img/fita\ pagina\ css.png);
    background-size: 100%;
    height: 1500px;
    margin: 0px;
    margin-right: -3%;
    margin-top: -2%;
    padding: 0px;
    float: left;
}

.fitadir {

    background: rgb(134, 44, 44);
    background-image: url(img/fita\ pagina\ css.png);
    background-size: 100%;
    height: 1500px;
    margin: 0px;
    margin-left: -3%;
    margin-top: -2%;
    padding: 0px;
    float: right;
}

.titulo{

    
    text-align: center;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
    background: rgb(7,57,179);
    background: linear-gradient(90deg, rgba(7,57,179,1) 0%, rgba(27,43,92,1) 9%, rgb(37, 36, 54) 24%, rgb(37, 36, 54) 76%, rgba(27,43,92,1) 91%, rgba(7,57,179,1) 100%);
    border-color: transparent;
    border-radius: 10px;
}

.titulo > h1 {

    font-family: 'Saira Condensed', sans-serif;
    color:white;
    text-shadow: 3px 2px rgb(134, 44, 44);
    font-size: 300%;
    margin-bottom: 1%;
    margin-top: 2%;
    line-height: 50px;

}

.titulo > p{

    color:rgb(175, 62, 62);
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

.conteudo{

    text-align: center;
    align-content: center;
    align-self: center;
}

p{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

img{
    min-width: 60px;
    max-width: 66.66%;
    margin: 5%;
    margin-top: 10%;
}


div{
    margin: 2%;
    padding: 1%;
}

p {

    margin-left: 10%;
    margin-right: 10%;
}

div.conteudo > div {

    background-color: rgb(29, 29, 34);
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(134, 44, 44);

}

div.conteudo :hover{

    background-color: rgba(27,43,92,1);
    transform: scale(110%);

}


div.conteudo > div {

    animation: shake .7s;
    animation-iteration-count: 1;

}


@keyframes shake {

    0% { transform: rotate(-2deg);}
    25% { transform: rotate(2deg);}
    50% { transform: rotate(2deg);}
    50% { transform: rotate(-2deg);}
    

}

div.conteudo > div > :nth-child(2){

    font-size: 120%;
}

div.col12{

    background-color: transparent;
}


footer{

    margin-top: 4%;
    float: left;
    text-align: center;
    background: rgb(7,57,179);
    background: linear-gradient(0deg, rgba(7,57,179,1) 13%, rgba(23,52,124,1) 37%, rgba(35,50,93,1) 66%, rgba(37,36,54,1) 100%);
    margin-left: 10%;
    margin-right: 0%;
    margin-bottom: -20px;
}

footer > p {

    padding-top: 3.5%;
}

.col1{

    width: 7.33%;
}

.col2{

    width: 15.66%;
}
.col3{

    width: 24%;
}
.col4{

    width: 32.33%;
}
.col6{

    width: 49%;
}
.col8{

    width: 65.66%;
}

.col9{

    width: 74%;
}
.col10{

    width: 82.33%;
}
.col12{

    width: 99%;
}


