@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

h1{
    text-align: center;
    color: darkred;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    font-weight: bold;
}

@keyframes minhaAnimacao{
    from{top: -100px;}
    to{top: 0px;}
}

div.c3{
    width: 350px;
    height: 400px;
    background-color:lightblue;
    border: 1px solid blue;
    border-radius: 50px;
    position: relative;
    animation: minhaAnimacao 1s 6s;

    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

div.c3:hover{
    width: 500px;
    height: 550px;
}

.subtitulo{
    text-align: left;
}

.ano{
    text-align: center;
}

.nome{
    text-align: center;
}

img{
    width: 80%;
    height: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 98%;
    margin: auto;
    border: 1px solid;
    border-radius: 50px;
    overflow: hidden;
    background-color: pink;
}

.c1, .c2, .c3, .c4, .c5, .c5, .c6,
.c7, .c8, .c9, .c10, .c11, .c12{
    float: left;
    padding: 1%;
    margin: 1%;
    width: 25%;
} 

.c13{
    width: 20%
}

.c12{
    width: 99.90%;
}