#titulo{
 
    text-align: center;
    padding-top: 1px;
    width:60%;
    height:6.5em;
	background-color:#2b3444;
	border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans';
    font-size: 1.5em;
    
}

#subtitulo{

    font-size: 1.6em;

}

    .container {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        padding-top: 1.5%;
        padding-left: 20%;
        padding-right: 20%;
        opacity: 0;
        height: 7em;
        animation: animacao 7s;
        animation-fill-mode: forwards;

    }

    @keyframes animacao{

        from {

            opacity: 0;

        }

        to{

            opacity: 1;

        }

    }

    .container .titulo_do_filme{

        font-size: 1.3em;

    }

    .container .ano_do_filme{

        font-size: 1.15em;

    }


    .container .filme {
        height: 33em;
        border-radius: 30px;
        text-align: center;
        background-color: rgb(26, 97, 20);
    }

    .container .filme:hover {

        transform:scale(1.05);

    }

    .container .poster{

        width: 100%;
        height: 450px;
        border-radius: 15px;
        margin-bottom: 10px;

    }

    p{

        font-family: 'Helvetica';

    }

    body{

        font-size: 18px;

    }
