#titulo{
    font-size: 1.5em;
}

#subtitulo{
    font-size: 1.2em;
}

#filme{
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    background-color: #005b96;
    animation: slidein 1s;
    font-size: 1.2em;
}

#filme:hover{
    transform: scale(1.2);
}

.titulo{
    text-align: center;
    text-shadow: 0 0 0.2em black;
    background-color: #03396c;
    color: white;
    border: 1px solid;
    border-radius: 25px;
    font-family: 'Aclonica';
    padding: 1%;
    font-size: 1.875em;
    width: 80%;
    margin: 5% auto 5%;
}

.offset{
    padding-left: 4.16%;
    padding-right: 4.16%;
    padding-bottom: 4.16%;
}
.row::after{
    clear: both;
}

.imagem{
    height: 500px;
}

.anoDoFilme{
    font-size: 1.15em;
}
.nomeDoFilme{
    font-size: 1.3em;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #23272a;
    font-size: 18px;
}

img{
    margin-top: 2%;
    width: 80%;
    height: 90%;
    border: 1px solid;
    border-radius: 25px;
}

@media screen and (min-width: 1024px) {
    .colg-1 {width: 8.33%; float: left;}
    .colg-2{width: 16.66%; float: left;}
    .colg-3 {width: 25%; float: left;}
    .colg-4 {width: 33.33%; float: left;}
    .colg-5 {width: 41.66%; float: left;}
    .colg-6 {width: 50%; float: left;}
    .colg-7 {width: 58.33%; float: left;}
    .colg-8 {width: 66.66%; float: left;}
    .colg-9 {width: 75%; float: left;}
    .colg-10 {width: 83.33%; float: left;}
    .colg-11 {width: 91.66%; float: left;}
    .colg-12 {width: 100%; float: left;}
}
@media screen and (min-width: 648px) and (max-width:1024px){
    .colm-1 {width: 8.33%; float: left;}
    .colm-2{width: 16.66%; float: left;}
    .colm-3 {width: 25%; float: left;}
    .colm-4 {width: 33.33%; float: left;}
    .colm-5 {width: 41.66%; float: left;}
    .colm-6 {width: 50%; float: left;}
    .colm-7 {width: 58.33%; float: left;}
    .colm-8 {width: 66.66%; float: left;}
    .colm-9 {width: 75%; float: left;}
    .colm-10 {width: 83.33%; float: left;}
    .colm-11 {width: 91.66%; float: left;}
    .colm-12 {width: 100%; float: left;}
}
@media screen and (max-width: 648px){
    .colp-1 {width: 8.33%; float: left;}
    .colp-2{width: 16.66%; float: left;}
    .colp-3 {width: 25%; float: left;}
    .colp-4 {width: 33.33%; float: left;}
    .colp-5 {width: 41.66%; float: left;}
    .colp-6 {width: 50%; float: left;}
    .colp-7 {width: 58.33%; float: left;}
    .colp-8 {width: 66.66%; float: left;}
    .colp-9 {width: 75%; float: left;}
    .colp-10 {width: 83.33%; float: left;}
    .colp-11 {width: 91.66%; float: left;}
    .colp-12 {width: 100%; float: left;}
}

@keyframes slidein {
    from{
        margin-left: 200%;
        width: 200%;
    }
    to{
      width: 100%;
    }
}
