* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #242424;
    background-color: rgb(182, 182, 182);
}

.container {
    width: 96%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    float: left;
    padding: 1%;
}


.col_1 {
    width: 6%;
}

.col_2 {
    width: 14%;
}

.col_3 {
    width: 22%;
}

.col_4 {
    width: 30%;
}

.col_5 {
    width: 38%;
}

.col_6{
    width: 46%;
}

.col_7{
    width: 54%;
}

.col_8{
    width: 62%;
}

.col_9 {
    width: 70%;
}

.col_10{
    width: 78%;
}

.col_11 {
    width: 86%;
}

.col_12 {
    width: 94%;
}

#titulo, #subtitulo{
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(252, 203, 223);
    text-shadow: 2px 2px #242424;
}

@keyframes myFirst{
    from{bottom: -300px;}
    to{bottom: 0px;}
}

div {
    background-color:rgb(252, 203, 223);
    border-width: 1px;
    border-color: #242424;
    border-radius: 40px;
    position: relative;
    animation: myFirst 1s 3s;
    -webkit-transition: width 5s, height 5s;
    transition: width 5s, height 5s;
}

div:hover {
    width: 200%;
    height: 200%;
}

img{
    width: 14em;
    height: 20em;
    border-radius: 10px;
} 

@media screen and (max-width: 648px) {
    div {
        width: 98%;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) and (min-width: 648px) {
    div {
        width: 37%;
        text-align: center;
        margin: 3%;
    }
}

footer{
    text-align: center;
    color: rgb(255, 59, 213);
}