
$corBackgroundCanvas: crimson;
$canvasFontSize: 18px;
$corTextoDestaque: darkorange;
$fontSize-titulo: 2.8em;
$fontSize-subtitulo: 1.6em;
$fontFamily-titulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
$border-color: black;
$heightCartaz: 300px;
$nomeFilme-fontSize: 1.3em;
$anoFilme-fontSize:1.15em;
$reservoir_dogs-backgroundColor:floralwhite;
$pulp_fiction-backgroundColor:rgb(220, 16, 16);
$kill_bill-backgroundColor:orange;
$inglourious_basterds-backgroundColor:gray;
$django_unchainded-backgroundColor:floralwhite;
$the_hateful_eight-backgroundColor:silver;
$cartaz1-backgroundColor:rgb(209, 23, 23);
$cartaz2-backgroundColor:rgb(243, 208, 12);
$cartaz3-backgroundColor:black;
$cartaz4-backgroundColor:rgba(47, 72, 4, 0.489);
$cartaz5-backgroundColor:silver;
$cartaz6-backgroundColor: aliceblue;
$texto_cartaz1-backgroundColor: rgb(209, 23, 23);
$texto_cartaz2-backgroundColor: rgb(243, 208, 12);;
$texto_cartaz3-backgroundColor: rgb(243, 208, 12);
$texto_cartaz4-backgroundColor: rgba(47, 72, 4, 0.489);
$texto_cartaz5-backgroundColor: rgba(236, 4, 4, 0.836);
$texto_cartaz6-backgroundColor: aliceblue;
.canvas{
    max-width: 100%;
    margin:auto;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: $corBackgroundCanvas;
    font-size: $canvasFontSize;
}

.texto-destaque{
    float:block;
    color: $corTextoDestaque;
    width: 100%;
    text-align: center;

}

.titulo{
    @extend .texto-destaque;
    font-family:$fontFamily-titulo ;
    font-size: $fontSize-titulo;
}
.subtitulo{
    @extend .texto-destaque;
    font-size: $fontSize-subtitulo;
}
.rodape{
    @extend .texto-destaque;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
.quadros{
    border-color: $border-color;
    border-style:solid;
    border: 2%;
    @include border-radius(25px);
    margin: 1%;
}

.nome_filme{
    font-size: 1.3em;
}
.ano_filme{
    font-size: 1.15em;
}

#reservoir_dogs{
    margin-left: 7%;
    background-color: $reservoir_dogs-backgroundColor;
}
#pulp_fiction{
    background-color:$pulp_fiction-backgroundColor;
}
#kill_bill{
    background-color: $kill_bill-backgroundColor;
}
#inglourious_basterds{
    margin-left: 7%;
    background-color: $inglourious_basterds-backgroundColor;
}
#django_unchainded{
    background-color: $django_unchainded-backgroundColor;
}
#the_hateful_eight{
    background-color: $the_hateful_eight-backgroundColor;
}
#cartaz1{
    background-color:$cartaz1-backgroundColor;
    width: 65%;
}
#cartaz2{
    background-color:$cartaz2-backgroundColor;
    width: 65%;
}
#cartaz3{
    background-color: $cartaz3-backgroundColor;
    width: 65%;
}
#cartaz4{
    background-color: $cartaz4-backgroundColor;
    width: 65%;
}
#cartaz5{
    background-color: $cartaz5-backgroundColor;
    width: 65%;
}
#cartaz6{
    background-color:$cartaz6-backgroundColor;
    width: 65%;
}

.texto_cartaz1{
    background-color:$texto_cartaz1-backgroundColor;
}
.texto_cartaz2{
    background-color:$texto_cartaz2-backgroundColor;
}
.texto_cartaz3{
    background-color:$texto_cartaz3-backgroundColor;
}
.texto_cartaz4{
    background-color: $texto_cartaz4-backgroundColor;
}
.texto_cartaz5{
    background-color: $texto_cartaz5-backgroundColor;
}
.texto_cartaz6{
    background-color: $texto_cartaz6-backgroundColor;
}
.cartaz{
    height: $heightCartaz;
    padding: 15%;
}

.texto{
    text-align: center;
}

#reservoir_dogs, #inglourious_basterds  {
    position: relative;
    animation: mymove1 1.5s;
    animation-fill-mode: forwards;
}
#pulp_fiction, #django_unchainded  {
    position: relative;
    animation: mymove2 1.5s;
    animation-fill-mode: forwards;
}
#kill_bill, #the_hateful_eight  {
    position: relative;
    animation: mymove3 1.5s;
    animation-fill-mode: forwards;
}  
@keyframes mymove1 {
    from {left: -30px;}
    to {left: 0px;}
}
@keyframes mymove2 {
    from {bottom: -20px;}
    to {bottom: 0px;}
}
@keyframes mymove3 {
    from {right: -30px;}
    to {right: 0px;}
}
@mixin transition($duracao){
    -moz-transition: all $duracao;
    -webkit-transition: all $duracao;
    transition: all $duracao;
}
@mixin transform($escala){
    -moz-transform: scale($escala);
    -webkit-transform: scale($escala);
    transform: scale($escala);
}
#reservoir_dogs:hover, #pulp_fiction:hover,#kill_bill:hover, #inglourious_basterds:hover, #django_unchainded:hover, #the_hateful_eight:hover {
    max-width: 100%;
    @include transition(0.3s);
    @include transform(2);
    overflow: hidden;
    
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12{
    float: left;
    padding: 1%;
}
@media screen and (min-width: 1024px){
    
    .col_1{
        
        width: 8%; 
    }
    .col_2{
        
        width: 16%;
    }
    .col_3{
        
        width: 25%;
    }
    .col_4{
        
        width: 33%;     
    }
    .col_5{
        
        width: 41%;
    }
    .col_6{
        
        width: 50%;
    }
    .col_7{
        
        width: 58%;
    }
    .col_8{
        
        width: 66%;
    }
    .col_9{
        
        width: 75%;
    }
    .col_10{
        
        width: 83%;
    }
    .col_11{
        
        width: 91%;
    }
    .col_12{
        
        width: 100%;
    }
}

@media screen and (min-width: 649px) and ( max-width: 1023px) {
    .col_1{
        
        width: 16%; 
    }
    .col_2{
        
        width: 16%;
    }
    .col_3{
        
        width: 33%;
    }
    .col_4{
        
        width: 33%;     
    }
    .col_5{
        
        width: 50%;
    }
    .col_6{
        
        width: 50%;
    }
    .col_7{
        
        width: 66%;
    }
    .col_8{
        
        width: 66%;
    }
    .col_9{
        
        width: 83%;
    }
    .col_10{
        
        width: 83%;
    }
    .col_11{
        
        width: 100%;
    }
    .col_12{
        
        width: 100%;
    }
        
    #reservoir_dogs{
        margin-left: 14%;
        background-color: $reservoir_dogs-backgroundColor;
    }
    #pulp_fiction{
        background-color:$pulp_fiction-backgroundColor;
    }
    #kill_bill{
        margin-left: 14%;
        background-color: $kill_bill-backgroundColor;
    }
    #inglourious_basterds{
        margin: 1%;
        background-color: $inglourious_basterds-backgroundColor;
    }
    #django_unchainded{
        margin-left: 14%;
        background-color: $django_unchainded-backgroundColor;
    }
    #the_hateful_eight{
        background-color: $the_hateful_eight-backgroundColor;
    }
}
@media screen and (max-width: 648px ) {
    .col_1{
        
        width: 50%; 
    }
    .col_2{
        
        width: 50%;
    }
    .col_3{
        
        width: 50%;
    }
    .col_4{
        
        width: 50%;     
    }
    .col_5{
        
        width: 50%;
    }
    .col_6{
        
        width: 50%;
    }
    .col_7{
        
        width: 100%;
    }
    .col_8{
        
        width: 100%;
    }
    .col_9{
        
        width: 100%;
    }
    .col_10{
        
        width: 100%;
    }
    .col_11{
        
        width: 100%;
    }
    .col_12{
        
        width: 100%;
    }
    
    #reservoir_dogs{
        margin-left: 25%;
        background-color: $reservoir_dogs-backgroundColor;
    }
    #pulp_fiction{
        margin-left: 25%;
        background-color:$pulp_fiction-backgroundColor;
    }
    #kill_bill{
        margin-left: 25%;
        background-color: $kill_bill-backgroundColor;
    }
    #inglourious_basterds{
        margin-left: 25%;
        background-color: $inglourious_basterds-backgroundColor;
    }
    #django_unchainded{
        margin-left: 25%;
        background-color: $django_unchainded-backgroundColor;
    }
    #the_hateful_eight{
        margin-left: 25%;
        background-color: $the_hateful_eight-backgroundColor;
    }

}