h1 {
    text-align: center;
    font-size: 2.5rem;
    border-style: double;
    border-width: 8px;
    padding: 15px 10px 15px 15px;
    color: red;
}

h2 {
    color: rgb(116, 2, 2)
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: white;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

.container {
    width: 88%;
    margin: auto;
    float: center;
    padding: 1%;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
    float: left;
    padding: 1%;
}

.col_1 {
    width: 6%;
}

.col_2 {
    width: 14%;
}

.col_3 {
    width: 22%;
}

.col_4 {
    width: 30%;
}

.col_5 {
    width: 38%;
}

.col_6 {
    width: 46%;
}

.col_7 {
    width: 54%;
}

.col_8 {
    width: 62%;
}

.col_9 {
    width: 70%;
}

.col_10 {
    width: 78%;
}

.col_11 {
    width: 86%;
}

.col_12 {
    width: 94%;
}

img {
    max-width: 100%;
    width: 50%;
    height: 50%;
    border-radius: 30px;
}

img:hover {
    width: 100%;
    height: auto;
}

@keyframes movimento {
    from {
        left: -50px;
    }
    to {
        left: 50px;
    }
}

.filme {
    border-radius: 1px;
    border: 3px solid;
    background-color: rgb(44, 35, 35);
    color: rgb(116, 2, 2);
    position: relative;
    animation: movimento 5s infinite alternate linear;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.66, 1);
    animation-iteration-count: 3;
}