.container 
{
    width: 96%;
    margin: auto;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9
{
    float: left;
    padding: 1%;
}
.col_1
{
    width: 10%;
}
.col_2
{
    width: 20%;
}
.col_3
{
    width: 30%;
}
.col_4
{
    width: 40%;
}
.col_5
{
    width: 50%;
}
.col_6
{
    width: 60%;
}
.col_7
{
    width: 70%
}
.col_8
{
    width: 80%;
}
.col_9
{
    width: 90%;
}
img
{
    width: 70%;
}
@media screen and (max-width: 647px)
{
    .cartao
    {
        width: 90%;
    }
}
@media screen and (min-width: 648px) and (max-width: 1024px)
{
    .cartao
    {
        width: 45%;
    }
}
@media screen and (min-width: 1025px)
{
    .cartao
    {
        width: 30%;
    }
}
