@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
body {
  font-size: 18px;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: darkred;
  font-weight: bold;
  text-align: center;
  font-size: 2.8em;
}

h1 + p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.6em;
}

@keyframes minhaAnimacao {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
div.c3:hover {
  width: 500px;
  height: 550px;
}

.subtitulo {
  text-align: left;
}

.ano {
  text-align: center;
  font-size: 1.15em;
}

.nome {
  text-align: center;
  font-size: 1.3em;
}

img {
  width: 80%;
  height: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 98%;
  margin: auto;
  border: 1px solid;
  border-radius: 50px;
  overflow: hidden;
  background-color: pink;
  background-color: pink;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}

.c1, .c2, .c3, .c4, .c5, .c5, .c6,
.c7, .c8, .c9, .c10, .c11, .c12 {
  float: left;
  padding: 1%;
  margin: 1%;
  width: 25%;
}

.c13 {
  width: 20%;
}

.c12 {
  width: 99.9%;
}

@media screen and (max-width: 648px) {
  .c1 {
    width: 8%;
  }

  .c2 {
    width: 16%;
  }

  .c3 {
    width: 75%;
    height: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-position: relative;
    -moz-position: relative;
    -ms-position: relative;
    position: relative;
    -webkit-animation: minhaAnimacao 1s 6s;
    -moz-animation: minhaAnimacao 1s 6s;
    -ms-animation: minhaAnimacao 1s 6s;
    animation: minhaAnimacao 1s 6s;
  }

  .c4 {
    width: 32%;
  }

  .c5 {
    width: 40%;
  }

  .c6 {
    width: 48%;
  }

  .c7 {
    width: 56%;
  }

  .c8 {
    width: 64%;
  }

  .c9 {
    width: 72%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 648px) {
  .c1 {
    width: 8%;
  }

  .c2 {
    width: 16%;
  }

  .c3 {
    width: 37%;
    height: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-position: relative;
    -moz-position: relative;
    -ms-position: relative;
    position: relative;
    -webkit-animation: minhaAnimacao 1s 6s;
    -moz-animation: minhaAnimacao 1s 6s;
    -ms-animation: minhaAnimacao 1s 6s;
    animation: minhaAnimacao 1s 6s;
  }

  .c4 {
    width: 32%;
  }

  .c5 {
    width: 40%;
  }

  .c6 {
    width: 48%;
  }

  .c7 {
    width: 56%;
  }

  .c8 {
    width: 64%;
  }

  .c9 {
    width: 72%;
  }
}
@media screen and (min-width: 1024px) {
  .c1 {
    width: 8%;
  }

  .c2 {
    width: 16%;
  }

  .c3 {
    width: 350px;
    height: 550px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-position: relative;
    -moz-position: relative;
    -ms-position: relative;
    position: relative;
    -webkit-animation: minhaAnimacao 1s 6s;
    -moz-animation: minhaAnimacao 1s 6s;
    -ms-animation: minhaAnimacao 1s 6s;
    animation: minhaAnimacao 1s 6s;
  }

  .c4 {
    width: 32%;
  }

  .c5 {
    width: 40%;
  }

  .c6 {
    width: 48%;
  }

  .c7 {
    width: 56%;
  }

  .c8 {
    width: 64%;
  }

  .c9 {
    width: 72%;
  }
}

/*# sourceMappingURL=modularizando.css.map */
