$color_background: #18191a;
$color_card: #3a3b3c;
$color_border: #b0b3b8;
$color_hover: #242526;
$color_text: #e4e6eb;
$font_title: 'Bebas Neue', cursive;
@mixin inital-settings
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin all-prefix($name, $value)
{
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '')
    {
      #{$vendor}#{$name}: #{$value};
    }
}
*{
    @include initial-settings()
}
body
{
    background-color: var($color_background);
    text-align: center;
    color: var($color_text);
    font-size: 18px;
}
header
{
    background-color: var($color_card);
    border-style: solid;
    border-color: var($color_border);
    margin: 2%;
    font-family: 'Bebas Neue', cursive;
}
h1
{
    margin: 4px;
}
p
{
    margin: 8px;
}
img
{
    margin: 16px;
    margin-bottom: 0px;
    animation-name: girada;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.titulo
{
    font-size: 2.8em;
}
.subtitulo
{
    font-size: 1.6em;
}
.filme
{
    font-size: 1.3em;
}
.ano
{
    font-size: 1.15em;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9
{
    background-color: var($color_card);
    border-style: solid;
    border-color: var($color_border);
    padding: 0px;
    margin: 1%;
    
}
.cartao
{
    transition: background-color 0.4s
}
.cartao:hover
{
    background-color: var($color_hover);
    image-orientation: inherit;
}
@keyframes girada
{
    0%
    {
        width: 0%;
        height: 0%;
		transform: rotate(0);
    }
    100%
    {
        width: 70%;
        height: 70%;
        transform: rotate(360deg);
    }
}