/*const*/
/*text colors*/
$main-bg-color: #021240;
$title-color: #FFCA0A;
$secondary-title-color: #077FFF;
$plain-text-color: #FF0000;

/*screen sizes*/
$layout-breakpoint-small: 648px;
$layout-breakpoint-medium: 1024px;

/*fonts*/
$primary-font: 'Raleway', sans-serif;

@mixin initial-settings{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin all-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
      #{$vendor}#{$name}: #{$value};
    }
  }

* {
    @include initial-settings()
}


@keyframes card-animation {
    from {opacity: 10%; rotate: 0deg;}
    to {opacity: 100%; rotate: 360deg;}
}


$breakpoints: (
    sm: (
        min: 576px,
        max: 575.98px,
    ),
    md: (
        min: 648px,
        max: 647.98px
    ),
    lg: (
        min: 1024px,
        max: 1023.98px
    ),
);

@mixin breakpoint($breakpoint, $direction: min) {
    
    @if map-has-key($breakpoints, $breakpoint) { 
        $breakpoint-values: map-get($breakpoints, $breakpoint);
        $breakpoint-min: map-get($breakpoint-values, min);
        $breakpoint-max: map-get($breakpoint-values, max);

        @if $direction == min {
            @media (min-width: $breakpoint-min) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint-max) {
                @content;
            }
        }
    
    } @else {
        
        @if $direction == min {
            @media (min-width: $breakpoint) {
                @content;
            }
        }

        @else {
            @media (max-width: $breakpoint) {
                @content;
            }
        }
    }
}


html{
    font-family: $primary-font;
}

body{
    background-color: var(--main-bg-color);
    font-size: 18px;
}

.title{
    font-weight: 900;
    font-size: 2.8em;
    color: var(--title-color);
    text-align: center;
}

.subtitle{
    color: var(--secondary-title-color);
    font-size: 1.6em;
    font-weight: 900;
    text-align: center;
    margin: 10px 10px 50px 10px;
    font-style: italic;
}

p{
    color: var(--plain-text-color);
    font-weight: 400;
    margin: 2px;

}

.card-title{
    font-size: 1.3em;
}

.card-date{
    font-size: 1.15em;
}

footer{
    color: #077FFF;
    margin: 80px 10px 20px 10px;
}

div{
     display: block;
}

.container {
    width: 92%;
    margin: auto;
}

@for $i from 1 to 12 {
    .col_#{$i} { width: 7% * $i; float: left; padding: 1.3%; overflow: hidden; margin: 1%; };
}

.col_4{
    @include from($breakpoint){
        width: 45%;
    }
    @include until($breakpoint){
        width: 84%;
    }
}

.card{
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 480px;
    margin: 1%;
    padding: 10px;
    box-shadow: 0px 10px 25px rgba(0,0,0,.3);
    border-radius: 16px;
    animation-name: card-animation;
    animation-duration: 1s;
}

.card-img{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 400px;
}  

@media (hover : hover){
    .card:hover{
        transform:scale(1.05); /*200% fica muuuuuuito grande...*/
        box-shadow: 0px 10px 25px rgba(0,0,0,.4);
    }
}
