body {
  background-color: #23272a;
}

.titulo {
  background-color: #03396c;
}

#filme {
  background-color: #005b96;
}

#filme {
  -webkit-animation: slidein 1s;
  -moz-animation: slidein 1s;
  -ms-animation: slidein 1s;
  animation: slidein 1s;
}
#filme:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#filme, .titulo, img {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .colg-1 {
    width: 8.83%;
    float: left;
  }

  .colg-2 {
    width: 17.66%;
    float: left;
  }

  .colg-3 {
    width: 26.49%;
    float: left;
  }

  .colg-4 {
    width: 35.32%;
    float: left;
  }

  .colg-5 {
    width: 44.15%;
    float: left;
  }

  .colg-6 {
    width: 52.98%;
    float: left;
  }

  .colg-7 {
    width: 61.81%;
    float: left;
  }

  .colg-8 {
    width: 70.64%;
    float: left;
  }

  .colg-9 {
    width: 79.47%;
    float: left;
  }

  .colg-10 {
    width: 88.3%;
    float: left;
  }

  .colg-11 {
    width: 97.13%;
    float: left;
  }
}
@media screen and (min-width: 648px) and (max-width: 1024px) {
  .colm-1 {
    width: 8.83%;
    float: left;
  }

  .colm-2 {
    width: 17.66%;
    float: left;
  }

  .colm-3 {
    width: 26.49%;
    float: left;
  }

  .colm-4 {
    width: 35.32%;
    float: left;
  }

  .colm-5 {
    width: 44.15%;
    float: left;
  }

  .colm-6 {
    width: 52.98%;
    float: left;
  }

  .colm-7 {
    width: 61.81%;
    float: left;
  }

  .colm-8 {
    width: 70.64%;
    float: left;
  }

  .colm-9 {
    width: 79.47%;
    float: left;
  }

  .colm-10 {
    width: 88.3%;
    float: left;
  }

  .colm-11 {
    width: 97.13%;
    float: left;
  }
}
@media screen and (max-width: 648px) {
  .colp-1 {
    width: 8.83%;
    float: left;
  }

  .colp-2 {
    width: 17.66%;
    float: left;
  }

  .colp-3 {
    width: 26.49%;
    float: left;
  }

  .colp-4 {
    width: 35.32%;
    float: left;
  }

  .colp-5 {
    width: 44.15%;
    float: left;
  }

  .colp-6 {
    width: 52.98%;
    float: left;
  }

  .colp-7 {
    width: 61.81%;
    float: left;
  }

  .colp-8 {
    width: 70.64%;
    float: left;
  }

  .colp-9 {
    width: 79.47%;
    float: left;
  }

  .colp-10 {
    width: 88.3%;
    float: left;
  }

  .colp-11 {
    width: 97.13%;
    float: left;
  }
}
