/*FONTES E TEXTOS*/

@font-face {
    font-family: "Candice";
    src: url("candice.woff");
}

h1{
    font-family: "Candice";
    font-size: 2.8em;
    color: #ee898d;
    font-weight: 100;
    text-align: center;
    margin: 30px 0 10px 0;
}

h2{
    font-family: "Candice";
    font-size: 1.6em;
    color: #f3a7a9;
    font-weight: 50;
    text-align: center;
    margin: 0 0 30px 0;
}

.textos{
    font-weight: bold;
    font-family: "Kanit";
    font-size: 1.3em;
    color: #ff767b;
    margin-top: 1px;
    margin-left: 5%;
    margin-bottom: 5px;
}
/*--------------------------------*/

body{
    background: linear-gradient(#ffecec, #f3b5b5);
    font-size: 18px;
}

img{
    width: 90%;
    margin: 5%;
}

.arredondar{
    border-radius: 10px;
}

.card{
    border-radius: 20px;
    border: 1px solid #ff767b;
    background: rgb(255,255,255,0.2);
    width: 26%;
    min-width: 200px;
    display: inline-block;
    padding: 10px;
    margin: 1%;
    
}

.container{
    width: 90%;
    margin: 0 auto;
    float: center;
    
}

footer{
    font-family: "Kanit";
    color: #fd5c62;
    text-align: center;
    margin: 20px;
}

/*ANIMAÇÕES--------------------------------*/
.zoom:hover {
    transform: scale(1.1);
    background: rgb(255,255,255,0.9); ;
}

@keyframes Subindo2 {
    0%{
        bottom: -150px;
        opacity: 0.5;
    }

    25%{
        bottom: 0;
        opacity: 0.8;
    }
    
    50%{
        bottom: 0;
        opacity: 1;
    }

    100%{
        bottom: 0;
        opacity: 1;
    }

}

.entradaSubindo2{
    position: relative;
    animation: Subindo2 6s ;
}


@keyframes Subindo {
    0%{
        bottom: -100px;
        opacity: 0.5;
    }

    25%{
        bottom: 0;
        opacity: 1;
    }
    
    50%{
        bottom: 0;
        opacity: 1;
    }

    100%{
        bottom: 0;
        opacity: 1;
    }

}

.entradaSubindo{
    position: relative;
    animation: Subindo 6s;
}

/*----------------------------*/

.inline{
    display: inline-block;
    width: 30%;
    height: 100%;
    float: left;
    margin: 0;
}
