@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    body{
        background-image: url("img/walppaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 90%;
    }
    .container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    @keyframes text {
        from {letter-spacing: 0;}
        to {letter-spacing: 0.5em;}
      }
    h1{
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        color: darkred;
        animation: text 2s;
        font-size: 2.8em;
        letter-spacing: 0.5em;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6em;
    }
    .subt{
        background-color: darkred;
        border-radius: 15px;
        font-size: 1.2rem;
        text-align: center;
        border-color: grey;
        color: honeydew;
    }
    .col{
        display: block;
        padding: 1%;
    }
    .galeria{
        justify-content: center;
    }
    @keyframes mymove {
        from {opacity: 0%;}
        to {opacity: 90%;}
      }
    .filme{
        background-color: gray;
        border-radius: 10px;
        border-color: black;
        border-width: thin;
        border-style: double;
        margin-inline: 2%;
        margin-block: 2%;
        text-align: center;
        opacity: 80%;
        animation: mymove 1s;
    }
    .filme:hover{
        opacity: 100%;
    }
    .capa{
        width: fit-content;
        margin: auto;
        -webkit-transition: width 2s, height 2s;
        transition: width 2s, height 2s;
        width: 80%;
    }
    .filme:hover .capa{
        width: 90%;
        height: 90%;
    }
    .titulo{
        font-size: 1.3em;
    }
    .ano{
        font-size: 1.15em;
    }
    @media screen and (min-width: 1024px){
        .filme{
            width: 25.3333%;
        }
    }
    @media screen and (min-width: 1190px){
        .filme{
            height: 100vh;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1190px) {
        .filme{
            height: 90vh;
        }
    }
    @media screen and (min-width: 648px) and (max-width: 1024px) {
        .filme{
            width: 38%;
        }
    }
    @media screen and (min-width: 906px) and (max-width: 1024px){
        .filme{
            height: 100vh;
        }
    }
    @media screen and (min-width: 756px) and (max-width: 906px){
        .filme{
            height: 90vh;
        }
    }
    @media screen and (min-width: 648px) and (max-width: 756px){
        .filme{
            height: 80vh;
        }
    }
    @media screen and (max-width: 648px) {
        .filme{
            width: 95%;
        }
    }
    
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:gray;
        color: white;
        text-align: center;
      }
