body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background:linear-gradient(#6f76db, #2ff0e0) ;
   
}
 img{
    width: 90%;
    margin: 5%;
 }


.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

footer{
    text-align: center;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12{

    float: center;
    padding: 0,5%;
    padding-bottom: 99999px;
    margin-bottom: -99999px;    
}

.col_1{
    width: 8%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_2{
    width: 16%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_3{
    width: 24%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_4{
    width: 32%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_5{
    width: 40%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_6{
    width: 48%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_7{
    width: 56%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_8{
    width: 64%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_9{
    width: 72%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_10{
    width: 80%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_11{
    width: 88%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}

.col_12{
    width: 96%;
    float: left;
    padding: 1.3%;
    overflow: hidden;
    margin: 1%;
}


.TituloPrincipal {
    text-align: center;
    font-family: Open sans-serif;
}

.subTitulo{
    font-size: 1.6em;
    text-align: center;
}

.AnoFilme{
    font-size: 1.15em;
}

.NomeFilme{
    font-size: 1.5em;
}

.deixarRedondo{
    border-radius: 14px;
}

@keyframes entrada{
    0%{background: #534f4f;}
    100%{ background: rgba(36, 28, 28, 0)}
}