@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*
* Criando paleta da página
*/

$font-stack: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$card-color: rgb(32, 32, 32);
$font-color: white;
$font-title: 'Anton', sans-serif;

/*----------------------------------*/

/*
* Mixins
*/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin animation($movie-animation){
    -webkit-animation: $movie-animation;
    -moz-animation: $movie-animation;
    -ms-animation: $movie-animation;
    animation: $movie-animation; 
}

@mixin transition($img-transition) {
    -webkit-transition: $img-transition;
    -moz-transition: $img-transition;
    -ms-transition: $img-transition;
    transition: $img-transition; 
}

/*------------------------------------*/

*{
    font-family: $font-stack;
}

.movies{
    @include border-radius(30px);
    border: 2px solid;
    background-color: $card-color;
    color: $font-color;
    position: relative;
    @include animation(mymove 8s infinite alternate linear);
}

img{
    max-width: 90%;
    width: 65%;
    height: 65%;
    border-radius: 10px;
    background-size: cover;
    @include transition(ease 0.5s)
} 

img:hover{
    width: 90%;
    height: auto;
}

@keyframes mymove {
    from {left: -80px;}
    to {left: 100px;}
}

#titulo{
    font-family: $font-title;
    font-size: 2.8em;
}

#subtitulo{
    font-size: 1.6em;
}

.nome_filme{
    font-size: 1.3em;
}

.ano_filme{
    font-size: 1.15em;
}