$body-font-size: 18px;
$body-backgroun-color: white;

$default-text-align: center;
$default-font-family: 'Lato', sans-serif;

$h1-color: black;
$h1-font-style: italic;
$h1-font-size: 2.8em;
$h1_p-font-size: 1.6em;

$AnoFilme-font-size: 1.15em;
$NomeFilme-font-size: 1.3em;

$card-background-color: blanchedalmond;

body{
    font-size: $body-font-size;
    background:$body-backgroun-color;
}
h1{
    text-align: $default-text-align;
    font-family: $default-font-family;
    font-style: $h1-font-style;
    color:$h1-color;
    text-shadow: 5px 5px 5px #FF0000;

    font-size: $h1-font-size;
}

h1 + p{
    text-align:left;
    font-size: $h1_p-font-size;
}

.AnoDoFilme{ 
    text-align: $default-text-align; 
    font-size: $AnoFilme-font-size;
}
.NomeDoFilme{ 
    text-align: $default-text-align; 
    font-size: $NomeFilme-font-size;
}

img{
    width: 75%;
    height: 75%;

    display: block;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
img:hover{
    width: 95%;
    height: 95%;

    margin-left: 2.5%;
    margin-right: 2.5%;
}

.container{
    width:98%;
    margin:auto;
    border:2px solid;
    border-radius:50px;
    
    overflow:hidden;
}

.col1, .col2, .col3,  .col4,  .col5,  .col6, 
.col7, .col8, .col9, .col10, .col11, .col12{
    float:left;
    padding:1%;
}

@keyframes mymove {
    from {top:-100px;}
    to {top: 0px;}
}
@media screen and (max-width:648px){
    .col3{
        width: 75%;
        border:4px solid;
        border-radius:20px;
        background-color: $card-background-color;
    
        position: relative;
        animation: mymove 5s 1;

        margin: 9%;
    }
}

@media screen and (max-width:1024px) and (min-width:648px){
    .col3{
        width: 37.5%;
        border:4px solid;
        border-radius:40px;
        background-color: $card-background-color;
    
        position: relative;
        animation: mymove 5s 1;

        margin: 2.5%;
    }
}

@media screen and (min-width:1024px){
    .col3{
        height:auto;
        width: 25%;
        border:4px solid;
        border-radius:40px;
        background-color: $card-background-color;

        position: relative;
        animation: mymove 5s 1;

        margin: 2.5%;
    }
}

/* DEMAIS CONFIGURAÇÕES DE COLUNAS FORAM DELETADAS PORQUE NÃO SERIAM UTILIZADAS */
.col12{ width: 99.90%; }