$primaryColor: #041213;
$ColorResponsive: #0f1524;
$primaryfont: Arial, Helvetica, sans-serif;

$width1_responsive: 3400px;
$width2_responsive: 1450px;
$width3_responsive: 1100px;
$width4_responsive: 850px;
$width5_responsive: 600px;

$widthCollum: 100%;
$widthLastCollum: 200%;


@mixin MainSlide(){

    @keyframes slide {

        from{
    
            opacity: 0.05;
        }
    
        to{
    
            opacity: 1;
        }

    }

   animation-duration: 4s;
   animation-name: slide;
 
}

@mixin buttons{

   padding: 0.6rem;
    color: white;
    margin-right: .50rem ;
    border-radius: .50rem;
    font-weight: 600;
    background: rgba(51, 51, 51, 0.2);
    font-family: inherit;
    font-size: 100%;
    border: 0;
}

@mixin PrimaryBody(){

    padding: 0;
    margin: 0 auto;
    font-family:$primaryfont;
    background-color: $primaryColor;

}

*{
    box-sizing: border-box;
}

body{

    @include PrimaryBody();

}   

.container{

    height: 100vh;
    background-image: linear-gradient(

    to bottom, 
    rgba(0,0,0,0.8) 0%,
    rgba(0,0,0,0.2) 20%,
    rgba(20,20,20,0.2) 80%,
    rgba(20,20,20,1) 100%

    ),

    url(img/EUPHORIA.jpg);

    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

.actors{

    margin-top: 10px;

    img{

        height: 200px;
        border-radius: 20px;
        opacity: 1;
        transition: opacity 1s;
        
         &:hover{
    
            border: 4px solid rebeccapurple;
            opacity: 0.4;
        
       }

    }

}


h1{

    font-size: 20px;
    line-height: 1.25;
    
}

.banner{

    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
    width: 50%;
    color: white;
}


.banner .subtitle{

    color: white;
    font-size: 20px;
    line-height: 1.25;
    padding-top: .5rem;
    padding-bottom: .1rem;
    text-align: justify;
    width: 400px;
}


.logo{

    text-decoration: none;
    color: white;
    width: 320px;
    
}

.logo h1{

    font-size: 32px;

}

.main_content{

    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 3rem;

    @include MainSlide();

}

.header{

    display: flex;
    align-items: center;
}

.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.links{

    text-decoration: none;
}


.menu_right{

    display: flex;
    color: white;
    text-align: right;

}


.menu .user{

    display: flex;
    align-items: center;
}


.menu .user img{

    border-radius: 50%;
    width: 3rem;
   
}

.buttons{

    margin-top: 3rem;

}

.buttons .btn{

    @include buttons();

    &:hover{

        border: 4px solid rebeccapurple;
        background-color: white;
        color: rebeccapurple;

    }
}

.buttons .btn i {

    margin-right:1rem;
}

.category span{

    color: white;
    font-size: 22px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}

.slider{

    margin-top: 20px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
}

.movie{

    margin-right: 20px;

    img{

        transition: opacity 1s;
        display: block;
        border-radius: 20px;

        &:hover{

            border: 4px solid rebeccapurple;
            opacity: .5;

        }

    }
}


.footer{

    width: 100%;

    img{

     margin-top: 20px;
     width: 30px;
     height: 30px;
     margin-right: 50px;
     margin-bottom: 40px;

    }

}

.division, .last_division{

    flex-direction: row;
    display: flex;
}


.social_media{

      text-align: center;
}


@media screen and (max-width: $width1_responsive) {

    .movie img{

        width: $widthCollum;
    }
    
}


@media screen and (max-width: $width2_responsive) {


    .category{

        text-align: center;
    }

    .slider{

        width:$widthCollum;
        margin-right: 0px;
        justify-content: center;
    }
    .movie img{

        width: $widthCollum;
    }

    .movie{

        margin-bottom: 20px;
    }

  
    .division, .last_division{

        flex-direction: column;
        display: flex;
    }


}

@media screen and (max-width: $width3_responsive) {

   
    body{
        background-color: $ColorResponsive;
    }

    .container{

        background-image: url(img/EUPHORIA.png);
        background-size: cover;
        padding: 0.26rem 0.75rem 0 0.75rem;
    }
}

@media screen and (max-width: $width4_responsive) {

    
    body{
        background-color: $ColorResponsive;
    }

    
    .container{

        background-image: url(img/EUPHORIA.png);
        background-size: cover;
        padding: 0.26rem 0.75rem 0 0.75rem;
     }
 

    .slider{

        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .last_division{

        display: flex;
        width: $widthLastCollum;
        flex-direction: row;

    }

}

@media screen and (max-width: $width5_responsive) {


    body{
        background-color: $ColorResponsive;
    }

    .container{

       background-image: url(img/EUPHORIA.png);
       background-size: cover;
       padding: 0.26rem 0.75rem 0 0.75rem;
    }


    .last_division{

        display: flex;
        width: $widthCollum;
        flex-direction: column;

    }

    .category{

        text-align: center;
    }


    .banner .subtitle, .actors{

        justify-content: center;
        width: 350px;
    }

    .banner h1{

        text-align: center;
    }

    .footer img {

      width: 30px;
      height: 30px;
      margin-right:38px;

    }       
        
    .slider {

        display: block;
        flex-direction: column;

    }

    .movie img{

        margin-left: 20px;
    }

    .img_actors{

        width: 350px;
    }

    .buttons .btn{

        margin-bottom: 20px;
    }

}