#catalogo {
    display: inline-block;
}
#margemL{
    display: inline-block;
}
#margem{
    display: inline-block;
}
#title {
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 3px solid;
    border-color: #A63429;
    font-size: 30px;
    font-style: oblique;
    font-family: 'Merriweather', serif;
}
#subtitle{
    font-size: 20px;
    font-style: italic;
}

.filmes{
    color: black;
    border-radius: 3%;
    border: 2px solid;
    border-color: #A63429;
    text-align: center;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
    box-shadow: 10px 10px #A6203D;
}

.img {
    align-items: center;
    width: 150px;
    height: 200px;
    border-radius: 3%;
    border: 2px solid;
    border-color: #A63429;
    margin-top: 1%;
    position: relative;
    animation-direction: alternate;
    -webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 2s;
}
.img:hover{
    width: 75%;
    height: 75%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {right: 0px;}
    to {right: 20px;}
}

@keyframes mymove {
    from {right: 0px;}
    to {right: 20px;}
}
.row{
    display: inline;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 29.33%;
    padding: 2%;
    float: left;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.center{float:center;}
.right{float:right;}
.left{float:left;}
