

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    transition: $transitions; 
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin animation($animations...) {
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -ms-animation: $animations;
    animation: $animations; 
}