@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.container{

    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


*{
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 31, 51);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: aliceblue;
}

b{
    color: rgb(202, 59, 59);
}

.header{
    text-align: center;
    color:azure;
    width: 100vw;
    font-size: 30px;
    font-family: Roboto;
}

.movie{
    
    margin : 10px;
    width: 15%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.movie img{

    width: 100%;
    margin-right: 20px;
    justify-content: center;
}

.movies{
    width: 100vw;
}

.division{

    justify-content: center;
    flex-direction: row;
    display: flex;
    margin-bottom: 30px;
}

.movie{
    transition: transform 2s;
}



h1 > b:hover{
    animation: pulse 5s;
    animation-iteration-count: infinite;
}

.movie:hover{
    scale: 30%;
    border: 3px dotted yellow;
    transform: scale(1.15);
}

@keyframes pulse{
    from {color: aqua;}
    to {color: gold;} 
}
